doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/mainStyle.css")
    link(rel="stylesheet", href="/stylesheets/form.css")
  body
    block content
